<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <div class="text-center col-12 mb-3">
            <img src="https://kuepa.com/COV2/assets/img/logo.png" alt="">
          </div>

          <h5 class="card-title text-center">Registro</h5>
          <form [formGroup]="registerForm" (ngSubmit)="registerSubmit(registerForm.value)" class="form-signin" autocomplete="off">

            <div class="form-label-group">
              <label for="name">Nombres</label>
              <input formControlName="FIRSTNAME" type="text" id="name" class="form-control" placeholder="pepito" required autofocus>
            </div>

            <div class="form-label-group">
              <label for="lastnames">Apellidos</label>
              <input formControlName="LASTNAME" type="text" id="lastnames" class="form-control" placeholder="perez" required autofocus>
            </div>

            <div class="form-label-group">
              <label for="inputEmail">Correo</label>
              <input formControlName="EMAIL" type="email" id="inputEmail" class="form-control" placeholder="pepito@pepito.com" required autofocus>
            </div>


            <div class="form-label-group">
              <label for="inputPassword">Contraseña</label>
              <input formControlName="PASSWORD" type="password" id="inputPassword" class="form-control" placeholder="*******" required>
            </div>

            <div class="form-label-group">
              <label for="inputPassword">Tipo de usuario</label>
              <select formControlName="TYPEUSERID" class="form-control">
                <option [value]="1">Moderador</option>
                <option [value]="2" selected>Estudiante</option>
              </select>
            </div>

            <div class="form-label-group mt-3">
              <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="!registerForm.valid" type="submit">Registrarme</button>
            </div>

            <p class="text-right mt-2">
              <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Iniciar sesión</a>
            </p>
            <hr class="my-4">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
